* {
  background-color: white;
}

.mainBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 450px;
  background-color: var(--softer-green);
}

.mainBanner > * {
  background-color: var(--softer-green);
}

.storeBanner {
  composes: mainBanner;
  background-color: var(--darker-green);
}

.storeBanner > * {
  background-color: var(--darker-green);
}
.storeBanner > h2 {
  color: white;
}
.storeBanner > a {
  text-decoration: none;
  color: var(--softer-green);
}

.storeBanner > a:hover {
  color: var(--main-orange);
}
